node_modules
*.lock
*.pyc
*.ipynb
__pycache__
.local/

# docs
__generated__
\#$
data/
etc/
/src/
yarn-error.log

# mobile/builds
db/
logfile
env/
venv/
.venv
.vscode
.autoenv
.env
.envrc
# web/static

deploy/license.txt
deploy/logs/
deploy/redis-data/
deploy/dockerfiles/postgres-data
deploy/dockerfiles/mysql-data
postgres-data
mysql-data

label_studio/core/media
label_studio/core/downloads
label_studio/core/export

label_studio/core/static_build
label_studio/core/version_.py
label_studio/core/core
label_studio/tests/test_data/tasks_and_annotations.json

archive

*.rtl.css
*.rtl.min.css
*.idea/*
.vscode/*
pyrightconfig.json
tags.temp
mydatabase
label_studio.sqlite3
*.egg-info
tmp
.DS_Store
*.sqlite3
label_studio/core/settings/local.py
deploy/nginx/certs/*
!deploy/nginx/certs/.placeholder
mydata/
deploy/pgsql/certs/*
!deploy/pgsql/certs/.placeholder

*.swp
*.swo
*.swn
1/*
*/*/1/*
label_studio/tavern-output.json
docker-compose.override.yml

.config/*
.python_history
.viminfo
.bash_history
.github/autolabeler.yml
.github/CODEOWNERS
.github/dependabot.yml
.github/pr-title-checker-config.json
.github/test-coverage.svg
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/custom.md
.github/ISSUE_TEMPLATE/feature_request.md
.github/workflows/bandit.yml
.github/workflows/build_pypi.yml
.github/workflows/cancel_cicd_pipeline.yml
.github/workflows/cicd_pipeline.yml
.github/workflows/cut-off-release-branch.yml
.github/workflows/delete_pr_branch.yml
.github/workflows/docker-build.yml
.github/workflows/docker-release-promote.yml
.github/workflows/docs.yml
.github/workflows/frontend-build.yml
.github/workflows/frontend-command.yml
.github/workflows/git-command.yml
.github/workflows/gitleaks.yml
.github/workflows/help-command.yml
.github/workflows/invite-check.yml
.github/workflows/pr-labeler.yml
.github/workflows/release-pipeline.yml
.github/workflows/slash-command-dispatch.yml
.github/workflows/stale.yml
.github/workflows/submodules-validator.yml
.github/workflows/sync-pr.yml
.github/workflows/tests.yml
.github/workflows/update_pip_dependancy.yml
.github/workflows/upstream_repo_sync.yml
.devcontainer/devcontainer.json
.devcontainer/docker-compose.yml
